@import "../../utils/styles.scss";

.header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 9;
  button {
    min-width: 150px;
    @media (max-width: $MobileScreen) {
      min-width: unset;
    }
  }
}
